{{name}}
<p><a href="/classified">Classified Reource</a></p>
<img width="200px" height="200px" src="http://pawn.hss.cmu.edu/~67103/images/wombats/wombat4.jpg">

<form action="register" method="POST">
  <span>用户名</span><input name="username">
  <span>密码</span><input name="password">
  <input type="submit" value="添加新用户">
</form>

{{> sub-index}}
