<p>{{ flash }}</p>
<form action="/login" method="POST">
  <span>用户名</span><input name="username">
  <span>密码</span><input type="password" name="password">
  <input type="submit" value="登录">
</form>
<!-- <p>No account? Register <a href="/register">here</a>.</p> -->
