.mt-4 {
    margin-top: 24px !important;
}
.mt-5 {
    margin-top: 36px !important;
}
.mt-1 {
  margin-top: 4px !important;
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 99; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#change_pass_panel {
  z-index: 100;
}
/* facebox */
.facebox {
    position: absolute;
    top: 68px;
    z-index: 100;
    padding-bottom: 40px;
}
.facebox-popup {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(27,31,35,0.25);
    border-radius: 5px;
    box-shadow: 0 0 18px rgba(27,31,35,0.4);
}
.facebox-content {
    width: 455px;
    padding: 15px;
}
.facebox-content::before {
    display: table;
    content: "";
}
.facebox-content::after {
    display: table;
    clear: both;
    content: "";
}
.facebox-header {
    padding: 15px;
    margin: -15px -15px 15px;
    font-size: 18px;
    font-weight: normal;
    border-bottom: 1px solid #e1e4e8;
}
